name: on-push

permissions:
  contents: write
  pages: write


on:
  push:
    branches:
    #- main
    - review_edits
    tags:
    - '*'
  pull_request:
    branches:
    - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  jupyterbook:
    name: build jupyter book
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    #- name: Codespell with annotations
    #  uses: codespell-project/actions-codespell@v1.0


    - name: Install Conda Environment
      uses: mamba-org/setup-micromamba@v1
      with:
        environment-file: binder/new_env.yaml
        generate-run-shell: false
        cache-environment: true

    - name: Build Jupyter Book
      run: |
        jupyter-book build .

    - name: Dump Build Logs
      if: always()
      run: |
        if (test -a _build/html/reports/*log); then cat _build/html/reports/*log ; fi

    - name: Publish to GitHub Pages
      if: github.ref == 'refs/heads/review_edits'
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: _build/html
        publish_branch: gh-pages
